@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Founders-Grotesk';
    src: url('./assets/FoundersGrotesk-Semibold.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
  }